<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header', {pagina: 'sobre'}); %>
    <main>
        <div class="jumbotron">
            
        </div>
    </main>
</body>
</html>